parameters:
    treatPhpDocTypesAsCertain: false
    level: 5
    paths:
        - src
    bootstrapFiles:
        - vendor/php-stubs/wordpress-stubs/wordpress-stubs.php
        - tests/phpstan-bootstrap.wp-env.php
        - src/Pro/assets/vendor/autoload.php
        - src/Pro/Licensing/EDD_SL_Plugin_Updater.php
        - helpers/php-user-agent/UserAgentParser.php
    ignoreErrors:
        - '#Instanceof between null and BURST will always evaluate to false#'
        - '#Only booleans are allowed in an if condition, mixed given#'
        - '#Construct empty\(\) is not allowed\. Use more strict comparison#'
        - '#Only booleans are allowed in a negated boolean, mixed given\.#'
        - '#Only booleans are allowed in &&, mixed given#'
        - '#Short ternary operator is not allowed#'
        - '#Variable property access o#'
    excludePaths:
        - vendor/phpunit
        - vendor/brain
        - vendor/yoast
        - src/Pro/assets/vendor
        - src/Pro/Licensing/EDD_SL_Plugin_Updater.php
        - src/Admin/Dashboard_Widget/node_modules (?)
        - src/Admin/App/node_modules/ (?)
        - src/Admin/App/media/media-override.php (?)